* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font: 20px sans-serif;
  font-weight: 500;
  text-shadow: 2px 2px #000;
  color: #d0c5c0;
}

div {
  width: 100%;
  min-height: 100%;
  background-image: url('dirt.png');
}

header {
  width: 100%;
  height: 300px;
  background-image: url('grass.png');
  background-clip: content-box;
  border-bottom: solid 80px;
  border-image-source: url('border.png');
  border-image-slice: 0 0 80 0;
  border-image-repeat: repeat;
}

.logo {
  margin: auto;
  padding-top: 40px;
  width: 400px;
  max-width: 80%;
  display: block;
}

header > table {
  margin: auto;
  padding-top: 50px;
}

header > table th {
  padding-right: 5px;
  text-align: right;
  font-weight: 650;
}

div > table {
  margin: auto;
  padding-top: 50px;
  width: 80%;
  max-width: 500px;
}

div > table thead th {
  padding-bottom: 4px;
  text-align: left;
  text-transform: uppercase;
  border-bottom: 2px solid;
  box-shadow: 0px 2px #000;
}

div > table tbody tr:first-child td {
  padding-top: 4px;
}
