

body {
  margin: 0;
  padding: 12pt;
  gap: 12pt;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  background-color: #f1f1f1;
}

div {
  height: 25vh;
  min-height: 150px;
  max-height: 200px;
}

div > canvas {
  border-radius: 6pt;
  box-shadow: #ccc 0 1pt 3pt 0, #ccc 0 0 0 1pt;
  background-color: #fff;
}

div:nth-child(1) { grid-column: auto / span 2; }
div:nth-child(2) { grid-column: auto / span 2; }
div:nth-child(3) { grid-column: auto / span 4; }
div:nth-child(4) { grid-column: auto / span 2; }
div:nth-child(5) { grid-column: auto / span 2; }
div:nth-child(6) { grid-column: auto / span 4; }
div:nth-child(7) { grid-column: auto / span 4; }
div:nth-child(8) { grid-column: auto / span 4; grid-row: auto / span 4; }
