
:root {
  --primary-color: 65, 171, 122;
  --background-color: 251, 251, 251;
  --divider-color: 230, 230, 230;
  --shadow-color: 62, 62, 62;
  --primary-text: 31, 31, 31;
  --secondary-text: 117, 117, 117;
  --contrast-text: 255, 255, 255;
}

@keyframes spin {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font: 15px sans-serif;
  color: rgb(var(--primary-text));
  background: rgb(var(--background-color));
}

[hidden], body > svg {
  display: none;
}

h1, h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h1 {
  font-size: 28px;
  font-weight: 300;
}

h2 {
  font-size: 18px;
  font-weight: 400;
}

hr {
  height: 1px;
  border: none;
  background: rgb(var(--divider-color));
}

form {
  overflow: scroll;
  scrollbar-width: none;
}

form > * {
  margin: 8px 46px;
}

form > div {
  display: flex;
  flex-wrap: wrap;
}

form > div button:hover { background: rgba(var(--primary-color), 0.9); }
form > div button {
  padding: 8px 24px;
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(var(--contrast-text));
  border: none;
  border-radius: 6px;
  background: rgb(var(--primary-color));
  box-shadow: 0 1px 2px 0 rgba(var(--shadow-color), 0.4);
}

input[type=checkbox].chip + label, .chip {
  padding: .2em 1.1em;
  margin: .2em 1.5em .2em -1.1em;
  height: 2em;
  line-height: 1.6em;
  border-radius: 2em;
  background: rgba(var(--secondary-text), 0.1);
  color: rgb(var(--secondary-text));
  display: inline-block;
  box-sizing: border-box;
}

input[type=checkbox].chip { display: none; }

input[type=checkbox]:checked.chip + label {
  background: rgba(var(--primary-color), 0.2);
  color: rgb(var(--primary-color));
}

[is="top-bar"] {
  margin-bottom: 24px;
  padding: 24px 0 1px;
  background: rgb(var(--primary-color));
  box-shadow: 0 1px 2px 0 rgba(var(--shadow-color), 0.4);
}

[is="top-bar"] > h1 {
  margin: 0 46px 120px;
  color: rgb(var(--contrast-text));
}

[is="top-bar"] > svg.vacuum {
  position: absolute;
  left: 50%;
  margin: -120px 0 0 -60px;
  width: 120px;
  display: block;
  z-index: 2;
}

[is="top-bar"] > svg.vacuum line { stroke: #ebebeb; }
[is="top-bar"] > svg.vacuum circle:nth-of-type(even) { fill: #ffffff; }
[is="top-bar"] > svg.vacuum circle:nth-of-type(odd) { fill: #ebebeb; }

[is="top-bar"] > svg.brush {
  position: absolute;
  left: 50%;
  margin: -108px 0 0 12px;
  width: 40px;
  display: block;
  z-index: 1;
}

[is="top-bar"] > svg.brush.spin {
  transform-box: border-box;
  transform-origin: center;
  animation: spin 1s linear infinite;
}

[is="top-bar"] > svg.brush line { stroke: #ebebeb; }

[is="top-bar"] > dl {
  margin: 12px 24px;
  padding: 6px;
  border-radius: 2px;
  background: rgba(var(--contrast-text), 0.1);
}

[is="top-bar"] > dl dt,
[is="top-bar"] > dl dd {
  width: 50%;
  padding: 3px;
  color: rgb(var(--contrast-text));
  box-sizing: border-box;
  display: inline-block;
}

[is=room-select] > form button {
  width: 90%;
  margin: 24px auto 0;
}

