
* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: sans-serif;
}

[is=app-shell] {
  padding: 4rem 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

[is=app-shell] > * {
  width: 100%;
  max-width: 80%;
}

[is=pages-clock] h1 {
  font-size: 2.7rem;
  font-weight: 300;
  text-align: center;
}

[is=pages-clock] h2 {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

[is=pages-search] form {
  padding: 1.2rem 0 3rem;
}

[is=pages-search] form input {
  padding: .4rem .8rem;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  display: block;
}

[is=pages-list] ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

[is=pages-list] ul li {
  padding: 1rem 2rem;
}

[is=pages-list] ul li span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

[is=pages-list] ul li span:empty:before {
  content: '\200b';
}

[is=pages-list] ul li a {
  text-decoration: none;
}

