
:root {
  --primary-color: 84, 114, 211;
  --accent-color: 102, 187, 106;
  --background-color: 245, 245, 245;
  --divider-color: 230, 230, 230;
  --shadow-color: 62, 62, 62;
  --primary-text: 20, 36, 43;
  --secondary-text: 117, 117, 117;
  --contrast-text: 255, 255, 255;
}

@keyframes fade {
    0% { stroke-opacity: 0.3; }
   10% { stroke-opacity: 0.3; }
   50% { stroke-opacity: 1.0; }
   90% { stroke-opacity: 0.3; }
  100% { stroke-opacity: 0.3; }
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font: 15px sans-serif;
  color: rgb(var(--primary-text));
  background: rgb(var(--background-color));
}

[hidden], body > svg {
  display: none;
}

h1, h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h1 {
  font-size: 28px;
  font-weight: 300;
}

h2 {
  font-size: 18px;
  font-weight: 400;
}

hr {
  height: 1px;
  border: none;
  background: rgb(var(--divider-color));
}

input + label.toggle {
  position: relative;
  display: inline-block;
}

input + label.toggle::before {
  content: '';
  margin: 5px 0 5px 10px;
  width: 46px;
  height: 18px;
  border-radius: 9px;
  background: rgba(var(--secondary-text), 0.2);
  transition: background 0.2s;
  display: block;
}

input + label.toggle::after {
  content: '';
  position: absolute;
  top: 1px; right: 22px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: rgb(var(--secondary-text));
  box-shadow: 0 0 6px 0 rgba(var(--shadow-color), 0.2);
  transition: background 0.2s, right 0.2s;
  display: block;
  cursor: pointer;
}

input:checked + label.toggle::before {
  background: rgba(var(--accent-color), 0.6);
}

input:checked + label.toggle::after {
  right: -2px;
  background: rgb(var(--accent-color));
}

[is=app-shell] {
  position: relative;
  min-height: 100vh;
}

[is=top-bar] {
  height: 100vh;
}

[is=top-bar] > header {
  padding: 24px 0;
  display: flex;
  align-items: center;
}

[is=top-bar] > header svg.wifi {
  width: 36px; height: 36px;
  margin: 0 18px 0 24px;
  flex-shrink: 0;
}

[is=top-bar] > header svg.wifi * {
  stroke: rgb(var(--primary-text));
  stroke-opacity: 0;
  animation: fade 3s linear alternate infinite;
}

[is=top-bar] > header h1 {
  width: 100%;
  color: rgb(var(--primary-text));
}

[is=top-bar] > header input { display: none; }
[is=top-bar] > header input + label {
  margin: 0 24px 0 18px;
  flex-shrink: 0;
}

[is=top-bar] > figure {
  width: 60%;
  max-width: 250px;
  margin: 24px auto 48px;
  border-radius: 10%;
  font-size: 0;
  box-shadow: 0 0 6px 0 rgba(var(--shadow-color), 0.2);
  overflow: hidden;
}

[is=top-bar] > figure img {
  width: 100%;
  height: 100%;
}

[is=top-bar] > dl {
  margin: 12px 42px;
  padding: 16px 12px;
  font-size: 0;
  border-radius: 4px;
  background: rgb(var(--contrast-text));
  box-shadow: 0 1px 2px 0 rgba(var(--shadow-color), 0.4)
}

[is=top-bar] > dl dt {
  font-size: 18px;
  font-weight: 300;
  color: rgb(var(--primary-text));
}

[is=top-bar] > dl dd {
  font-size: 15px;
  font-weight: 300;
  color: rgb(var(--secondary-text));
}

[is=top-bar] > dl dd + dt {
  margin-top: 18px;
}

[is=top-bar] > dl dt,
[is=top-bar] > dl dd {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
